PORT=8787
DMVIC_UAT_BASE_URL=https://uat-api.dmvic.com
DMVIC_UAT_USERNAME=
DMVIC_UAT_PASSWORD=
DMVIC_UAT_CLIENT_ID=
DMVIC_UAT_CLIENT_CERT=
DMVIC_UAT_CLIENT_CERT_PASSWORD=
DMVIC_GATEWAY_SHARED_SECRET=
