{
  "openapi": "3.1.0",
  "info": {
    "title": "Zest Insurance Agency Management API",
    "version": "1.0.0",
    "description": "Complete API surface of the insurance agency management platform: clients, vehicles and other risk items, quotations, policies and installment chains, invoices, payments and receipts, claims, renewals, KYC, the client portal, staff and roles, agency (tenant) settings, the automation engine, the platform super-admin console and the AfricaBima/IPEN integration.\n\n## How the API is shaped\n\nTwo kinds of endpoints exist:\n\n1. **Server functions** — typed remote procedure calls used by the web app. Each one is a single URL under `/_serverFn/...` that accepts `{ \"data\": { ... } }` as its JSON body and returns JSON. The URL is generated from the source file and export name and is stable for a given release.\n2. **HTTP endpoints** — conventional REST-style routes under `/api/...`, used by external callers such as scheduled jobs, the M-Pesa callback and the in-app assistant.\n\n## Authentication\n\n* User-facing calls send `Authorization: Bearer <access token>` from the signed-in session. Every query is additionally filtered by row-level security, so a caller only ever sees their own agency's data.\n* Machine endpoints (`/api/public/*`) use a shared-secret request header, documented per endpoint.\n\n## Multi-agency isolation\n\nEvery record carries an agency identifier and database policies enforce that one agency can never read or change another agency's data.\n\n## Data model\n\nThe `components.schemas` section documents every table in the database, including columns, types and nullability.",
    "contact": {
      "name": "Zest Insurance Agency",
      "url": "https://app.zestinsurance.co.ke"
    }
  },
  "servers": [
    {
      "url": "https://app.zestinsurance.co.ke",
      "description": "Production"
    },
    {
      "url": "https://pixel-perfect-clone-94206.lovable.app",
      "description": "Published app"
    }
  ],
  "tags": [
    {
      "name": "Agency (tenant) settings"
    },
    {
      "name": "Automation engine"
    },
    {
      "name": "Client portal"
    },
    {
      "name": "Clients"
    },
    {
      "name": "Dashboard & metrics"
    },
    {
      "name": "Examples"
    },
    {
      "name": "IPEN — OCR"
    },
    {
      "name": "IPEN — assistant"
    },
    {
      "name": "IPEN — authentication"
    },
    {
      "name": "IPEN — claims"
    },
    {
      "name": "IPEN — documents"
    },
    {
      "name": "IPEN — payments (M-Pesa)"
    },
    {
      "name": "IPEN — policies"
    },
    {
      "name": "IPEN — portal"
    },
    {
      "name": "IPEN — profile"
    },
    {
      "name": "IPEN — reference data"
    },
    {
      "name": "Internal HTTP endpoints"
    },
    {
      "name": "KRA PIN checker"
    },
    {
      "name": "KYC & documents"
    },
    {
      "name": "Platform (super admin)"
    },
    {
      "name": "Product tour"
    },
    {
      "name": "Public HTTP endpoints"
    },
    {
      "name": "Renewals"
    },
    {
      "name": "Reports"
    },
    {
      "name": "Service requests"
    },
    {
      "name": "Sessions & security"
    },
    {
      "name": "Staff & roles"
    },
    {
      "name": "Vehicles & risk items"
    }
  ],
  "paths": {
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYWRtaW4tdXNlcnMuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6ImNyZWF0ZUNsaWVudFBvcnRhbEFjY291bnRfY3JlYXRlU2VydmVyRm5faGFuZGxlciJ9": {
      "post": {
        "tags": [
          "Staff & roles"
        ],
        "operationId": "createClientPortalAccount",
        "summary": "Create Client Portal Account",
        "description": "Server function `createClientPortalAccount` exported from `src/lib/admin-users.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "client_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "phone": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "client_id"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYWRtaW4tdXNlcnMuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6ImdldENsaWVudFBvcnRhbEluZm9fY3JlYXRlU2VydmVyRm5faGFuZGxlciJ9": {
      "post": {
        "tags": [
          "Staff & roles"
        ],
        "operationId": "getClientPortalInfo",
        "summary": "Get Client Portal Info",
        "description": "Server function `getClientPortalInfo` exported from `src/lib/admin-users.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "client_id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "client_id"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYWRtaW4tdXNlcnMuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6InJlc2V0Q2xpZW50UG9ydGFsUGFzc3dvcmRfY3JlYXRlU2VydmVyRm5faGFuZGxlciJ9": {
      "post": {
        "tags": [
          "Staff & roles"
        ],
        "operationId": "resetClientPortalPassword",
        "summary": "Reset Client Portal Password",
        "description": "Server function `resetClientPortalPassword` exported from `src/lib/admin-users.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "client_id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "client_id"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYWRtaW4tdXNlcnMuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6InVwZGF0ZVVzZXJQcm9maWxlX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "post": {
        "tags": [
          "Staff & roles"
        ],
        "operationId": "updateUserProfile",
        "summary": "Update User Profile",
        "description": "Server function `updateUserProfile` exported from `src/lib/admin-users.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYWRtaW4tdXNlcnMuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6ImRlbGV0ZVVzZXJfY3JlYXRlU2VydmVyRm5faGFuZGxlciJ9": {
      "post": {
        "tags": [
          "Staff & roles"
        ],
        "operationId": "deleteUser",
        "summary": "Delete User",
        "description": "Server function `deleteUser` exported from `src/lib/admin-users.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYWRtaW4tdXNlcnMuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6Imludml0ZVN0YWZmX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "post": {
        "tags": [
          "Staff & roles"
        ],
        "operationId": "inviteStaff",
        "summary": "Invite Staff",
        "description": "Server function `inviteStaff` exported from `src/lib/admin-users.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXBpL2V4YW1wbGUuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6ImdldEdyZWV0aW5nX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "post": {
        "tags": [
          "Examples"
        ],
        "operationId": "getGreeting",
        "summary": "Get Greeting",
        "description": "Server function `getGreeting` exported from `src/lib/api/example.functions.ts`.\n\nNo authentication middleware. Access is still limited by row-level security for any data it reads on behalf of the caller.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6Imxpc3RXb3JrZmxvd3NfY3JlYXRlU2VydmVyRm5faGFuZGxlciJ9": {
      "get": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "listWorkflows",
        "summary": "List Workflows",
        "description": "Server function `listWorkflows` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6ImdldFdvcmtmbG93X2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "get": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "getWorkflow",
        "summary": "Get Workflow",
        "description": "Server function `getWorkflow` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "id"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6ImNyZWF0ZVdvcmtmbG93X2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "post": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "createWorkflow",
        "summary": "Create Workflow",
        "description": "Server function `createWorkflow` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "graph": {},
                      "trigger": {}
                    },
                    "required": [
                      "name",
                      "graph",
                      "trigger"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6InVwZGF0ZVdvcmtmbG93X2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "post": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "updateWorkflow",
        "summary": "Update Workflow",
        "description": "Updates metadata and/or saves a new draft version (published versions are immutable).\n\nServer function `updateWorkflow` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string",
                        "nullable": true
                      },
                      "graph": {},
                      "trigger": {},
                      "change_note": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6InB1Ymxpc2hXb3JrZmxvd19jcmVhdGVTZXJ2ZXJGbl9oYW5kbGVyIn0": {
      "post": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "publishWorkflow",
        "summary": "Publish Workflow",
        "description": "Publishes the latest draft version: it becomes immutable and current.\n\nServer function `publishWorkflow` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "change_note": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6ImFjdGl2YXRlV29ya2Zsb3dfY3JlYXRlU2VydmVyRm5faGFuZGxlciJ9": {
      "post": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "activateWorkflow",
        "summary": "Activate Workflow",
        "description": "Server function `activateWorkflow` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "id"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6InBhdXNlV29ya2Zsb3dfY3JlYXRlU2VydmVyRm5faGFuZGxlciJ9": {
      "post": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "pauseWorkflow",
        "summary": "Pause Workflow",
        "description": "Server function `pauseWorkflow` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "id"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6ImRlbGV0ZVdvcmtmbG93X2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "post": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "deleteWorkflow",
        "summary": "Delete Workflow",
        "description": "Server function `deleteWorkflow` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "id"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6ImV4ZWN1dGVXb3JrZmxvd19jcmVhdGVTZXJ2ZXJGbl9oYW5kbGVyIn0": {
      "post": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "executeWorkflow",
        "summary": "Execute Workflow",
        "description": "Manually start a run of the current published version with a synthetic event.\n\nServer function `executeWorkflow` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "client_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "entity_type": {
                        "type": "string"
                      },
                      "entity_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "payload": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "run_now": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "id"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6ImdldFdvcmtmbG93UnVuc19jcmVhdGVTZXJ2ZXJGbl9oYW5kbGVyIn0": {
      "get": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "getWorkflowRuns",
        "summary": "Get Workflow Runs",
        "description": "Server function `getWorkflowRuns` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "workflow_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "limit": {
                        "type": "integer"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6ImdldFdvcmtmbG93UnVuX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "get": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "getWorkflowRun",
        "summary": "Get Workflow Run",
        "description": "Server function `getWorkflowRun` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "id"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6InJldHJ5V29ya2Zsb3dTdGVwX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "post": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "retryWorkflowStep",
        "summary": "Retry Workflow Step",
        "description": "Re-queues a failed run from its failed node (a fresh attempt number is used).\n\nServer function `retryWorkflowStep` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "run_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "run_now": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "run_id"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6ImNhbmNlbFdvcmtmbG93UnVuX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "post": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "cancelWorkflowRun",
        "summary": "Cancel Workflow Run",
        "description": "Server function `cancelWorkflowRun` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "run_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "reason": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "run_id"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6InJ1bkF1dG9tYXRpb25UaWNrTm93X2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "post": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "runAutomationTickNow",
        "summary": "Run Automation Tick Now",
        "description": "Admin-only: run one scheduler tick immediately (testing aid; cron does this every minute in production).\n\nServer function `runAutomationTickNow` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6Imxpc3RBdXRvbWF0aW9uRXZlbnRzX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "get": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "listAutomationEvents",
        "summary": "List Automation Events",
        "description": "Recent automation events for the caller's agency (read via RLS).\n\nServer function `listAutomationEvents` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "limit": {
                        "type": "integer"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6InNlZWRSZW5ld2FsUmVtaW5kZXJXb3JrZmxvd19jcmVhdGVTZXJ2ZXJGbl9oYW5kbGVyIn0": {
      "post": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "seedRenewalReminderWorkflow",
        "summary": "Seed Renewal Reminder Workflow",
        "description": "Proof-of-concept: the existing renewal reminder expressed as an engine workflow (created as a draft).\n\nServer function `seedRenewalReminderWorkflow` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6InNldFdvcmtmbG93RHJ5UnVuX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "post": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "setWorkflowDryRun",
        "summary": "Set Workflow Dry Run",
        "description": "Toggle dry-run: when on, action nodes log what they WOULD do instead of executing.\n\nServer function `setWorkflowDryRun` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "dry_run": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "id",
                      "dry_run"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvYXV0b21hdGlvbi93b3JrZmxvd3MuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6ImNvbXBhcmVSZW5ld2FsUmVtaW5kZXJzX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "get": {
        "tags": [
          "Automation engine"
        ],
        "operationId": "compareRenewalReminders",
        "summary": "Compare Renewal Reminders",
        "description": "Side-by-side parity report for the caller's agency. Both systems are evaluated on the SAME Africa/Nairobi business date and the SAME relative-date windows, so any row that comes back MISMATCH is a real behavioural difference. Read-only.\n\nServer function `compareRenewalReminders` exported from `src/lib/automation/workflows.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "policy_prefix": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvY2xpZW50cy5mdW5jdGlvbnMudHM_dHNzLXNlcnZlckZuLXNwbGl0IiwiZXhwb3J0IjoidXBkYXRlQ2xpZW50QnJhbmNoX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "post": {
        "tags": [
          "Clients"
        ],
        "operationId": "updateClientBranch",
        "summary": "Update Client Branch",
        "description": "Server function `updateClientBranch` exported from `src/lib/clients.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "clientId": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "branchId": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true
                      }
                    },
                    "required": [
                      "clientId",
                      "branchId"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvY2xpZW50cy5mdW5jdGlvbnMudHM_dHNzLXNlcnZlckZuLXNwbGl0IiwiZXhwb3J0IjoiZGVsZXRlQ2xpZW50X2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "post": {
        "tags": [
          "Clients"
        ],
        "operationId": "deleteClient",
        "summary": "Delete Client",
        "description": "Server function `deleteClient` exported from `src/lib/clients.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "clientId": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "clientId"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvZGFzaGJvYXJkLmZ1bmN0aW9ucy50cz90c3Mtc2VydmVyRm4tc3BsaXQiLCJleHBvcnQiOiJnZXREYXNoYm9hcmRTdW1tYXJ5X2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "get": {
        "tags": [
          "Dashboard & metrics"
        ],
        "operationId": "getDashboardSummary",
        "summary": "Get Dashboard Summary",
        "description": "Server function `getDashboardSummary` exported from `src/lib/dashboard.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9hc3Npc3RhbnQuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6ImlwZW5Bc3Npc3RhbnRDaGF0X2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "post": {
        "tags": [
          "IPEN — assistant"
        ],
        "operationId": "ipenAssistantChat",
        "summary": "Ipen Assistant Chat",
        "description": "Server function `ipenAssistantChat` exported from `src/lib/ipen/assistant.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "role": {
                        "type": "string"
                      },
                      "content": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "role",
                      "content"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9hdXRoLmZ1bmN0aW9ucy50cz90c3Mtc2VydmVyRm4tc3BsaXQiLCJleHBvcnQiOiJjb25uZWN0SXBlbl9jcmVhdGVTZXJ2ZXJGbl9oYW5kbGVyIn0": {
      "post": {
        "tags": [
          "IPEN — authentication"
        ],
        "operationId": "connectIpen",
        "summary": "Connect Ipen",
        "description": "Server function `connectIpen` exported from `src/lib/ipen/auth.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "password": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "email",
                      "password"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9hdXRoLmZ1bmN0aW9ucy50cz90c3Mtc2VydmVyRm4tc3BsaXQiLCJleHBvcnQiOiJ2ZXJpZnlJcGVuTWZhX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "post": {
        "tags": [
          "IPEN — authentication"
        ],
        "operationId": "verifyIpenMfa",
        "summary": "Verify Ipen Mfa",
        "description": "Server function `verifyIpenMfa` exported from `src/lib/ipen/auth.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "code"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9hdXRoLmZ1bmN0aW9ucy50cz90c3Mtc2VydmVyRm4tc3BsaXQiLCJleHBvcnQiOiJyZXNlbmRJcGVuTWZhX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "post": {
        "tags": [
          "IPEN — authentication"
        ],
        "operationId": "resendIpenMfa",
        "summary": "Resend Ipen Mfa",
        "description": "Server function `resendIpenMfa` exported from `src/lib/ipen/auth.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9hdXRoLmZ1bmN0aW9ucy50cz90c3Mtc2VydmVyRm4tc3BsaXQiLCJleHBvcnQiOiJkaXNjb25uZWN0SXBlbl9jcmVhdGVTZXJ2ZXJGbl9oYW5kbGVyIn0": {
      "post": {
        "tags": [
          "IPEN — authentication"
        ],
        "operationId": "disconnectIpen",
        "summary": "Disconnect Ipen",
        "description": "Server function `disconnectIpen` exported from `src/lib/ipen/auth.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9hdXRoLmZ1bmN0aW9ucy50cz90c3Mtc2VydmVyRm4tc3BsaXQiLCJleHBvcnQiOiJpcGVuU3RhdHVzX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "get": {
        "tags": [
          "IPEN — authentication"
        ],
        "operationId": "ipenStatus",
        "summary": "Ipen Status",
        "description": "Server function `ipenStatus` exported from `src/lib/ipen/auth.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9hdXRoLmZ1bmN0aW9ucy50cz90c3Mtc2VydmVyRm4tc3BsaXQiLCJleHBvcnQiOiJyZWdpc3RlcklwZW5fY3JlYXRlU2VydmVyRm5faGFuZGxlciJ9": {
      "post": {
        "tags": [
          "IPEN — authentication"
        ],
        "operationId": "registerIpen",
        "summary": "Register Ipen",
        "description": "Server function `registerIpen` exported from `src/lib/ipen/auth.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9hdXRoLmZ1bmN0aW9ucy50cz90c3Mtc2VydmVyRm4tc3BsaXQiLCJleHBvcnQiOiJpcGVuRm9yZ290UGFzc3dvcmRfY3JlYXRlU2VydmVyRm5faGFuZGxlciJ9": {
      "post": {
        "tags": [
          "IPEN — authentication"
        ],
        "operationId": "ipenForgotPassword",
        "summary": "Ipen Forgot Password",
        "description": "Server function `ipenForgotPassword` exported from `src/lib/ipen/auth.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      }
                    },
                    "required": [
                      "email"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9hdXRoLmZ1bmN0aW9ucy50cz90c3Mtc2VydmVyRm4tc3BsaXQiLCJleHBvcnQiOiJpcGVuRm9yZ290UGFzc3dvcmRWZXJpZnlfY3JlYXRlU2VydmVyRm5faGFuZGxlciJ9": {
      "post": {
        "tags": [
          "IPEN — authentication"
        ],
        "operationId": "ipenForgotPasswordVerify",
        "summary": "Ipen Forgot Password Verify",
        "description": "Server function `ipenForgotPasswordVerify` exported from `src/lib/ipen/auth.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "otp": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "email",
                      "otp"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9hdXRoLmZ1bmN0aW9ucy50cz90c3Mtc2VydmVyRm4tc3BsaXQiLCJleHBvcnQiOiJpcGVuRm9yZ290UGFzc3dvcmRSZXNldF9jcmVhdGVTZXJ2ZXJGbl9oYW5kbGVyIn0": {
      "post": {
        "tags": [
          "IPEN — authentication"
        ],
        "operationId": "ipenForgotPasswordReset",
        "summary": "Ipen Forgot Password Reset",
        "description": "Server function `ipenForgotPasswordReset` exported from `src/lib/ipen/auth.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9hdXRoLmZ1bmN0aW9ucy50cz90c3Mtc2VydmVyRm4tc3BsaXQiLCJleHBvcnQiOiJpcGVuTG9naW5XaXRoR29vZ2xlX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "post": {
        "tags": [
          "IPEN — authentication"
        ],
        "operationId": "ipenLoginWithGoogle",
        "summary": "Ipen Login With Google",
        "description": "Server function `ipenLoginWithGoogle` exported from `src/lib/ipen/auth.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9jbGFpbXMuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6Imxpc3RJcGVuQ2xhaW1zX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "get": {
        "tags": [
          "IPEN — claims"
        ],
        "operationId": "listIpenClaims",
        "summary": "List Ipen Claims",
        "description": "Server function `listIpenClaims` exported from `src/lib/ipen/claims.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9jbGFpbXMuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6ImdldElwZW5DbGFpbV9jcmVhdGVTZXJ2ZXJGbl9oYW5kbGVyIn0": {
      "get": {
        "tags": [
          "IPEN — claims"
        ],
        "operationId": "getIpenClaim",
        "summary": "Get Ipen Claim",
        "description": "Server function `getIpenClaim` exported from `src/lib/ipen/claims.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "claimId": {}
                    },
                    "required": [
                      "claimId"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9jbGFpbXMuZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6ImNyZWF0ZUlwZW5DbGFpbV9jcmVhdGVTZXJ2ZXJGbl9oYW5kbGVyIn0": {
      "post": {
        "tags": [
          "IPEN — claims"
        ],
        "operationId": "createIpenClaim",
        "summary": "Create Ipen Claim",
        "description": "Server function `createIpenClaim` exported from `src/lib/ipen/claims.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9jb21tb24uZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6Imxpc3RDb3VudHJpZXNfY3JlYXRlU2VydmVyRm5faGFuZGxlciJ9": {
      "get": {
        "tags": [
          "IPEN — reference data"
        ],
        "operationId": "listCountries",
        "summary": "List Countries",
        "description": "Server function `listCountries` exported from `src/lib/ipen/common.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9jb21tb24uZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6Imxpc3RJZGVudGlmaWNhdGlvbkRvY3VtZW50c19jcmVhdGVTZXJ2ZXJGbl9oYW5kbGVyIn0": {
      "get": {
        "tags": [
          "IPEN — reference data"
        ],
        "operationId": "listIdentificationDocuments",
        "summary": "List Identification Documents",
        "description": "Server function `listIdentificationDocuments` exported from `src/lib/ipen/common.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9jb21tb24uZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6Imxpc3RHZW5kZXJzX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "get": {
        "tags": [
          "IPEN — reference data"
        ],
        "operationId": "listGenders",
        "summary": "List Genders",
        "description": "Server function `listGenders` exported from `src/lib/ipen/common.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9jb21tb24uZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6Imxpc3RSaXNrQ2xhc3NDYXRlZ29yaWVzX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "get": {
        "tags": [
          "IPEN — reference data"
        ],
        "operationId": "listRiskClassCategories",
        "summary": "List Risk Class Categories",
        "description": "Server function `listRiskClassCategories` exported from `src/lib/ipen/common.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9jb21tb24uZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6Imxpc3RWZWhpY2xlTWFrZXNfY3JlYXRlU2VydmVyRm5faGFuZGxlciJ9": {
      "get": {
        "tags": [
          "IPEN — reference data"
        ],
        "operationId": "listVehicleMakes",
        "summary": "List Vehicle Makes",
        "description": "Server function `listVehicleMakes` exported from `src/lib/ipen/common.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9jb21tb24uZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6Imxpc3RWZWhpY2xlTW9kZWxzX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "get": {
        "tags": [
          "IPEN — reference data"
        ],
        "operationId": "listVehicleModels",
        "summary": "List Vehicle Models",
        "description": "Server function `listVehicleModels` exported from `src/lib/ipen/common.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9jb21tb24uZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6Imxpc3RNb3RvclR5cGVzX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "get": {
        "tags": [
          "IPEN — reference data"
        ],
        "operationId": "listMotorTypes",
        "summary": "List Motor Types",
        "description": "Server function `listMotorTypes` exported from `src/lib/ipen/common.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9jb21tb24uZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6Imxpc3RSZWxhdGlvbnNoaXBzX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "get": {
        "tags": [
          "IPEN — reference data"
        ],
        "operationId": "listRelationships",
        "summary": "List Relationships",
        "description": "Server function `listRelationships` exported from `src/lib/ipen/common.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/_serverFn/eyJmaWxlIjoiL3NyYy9saWIvaXBlbi9jb21tb24uZnVuY3Rpb25zLnRzP3Rzcy1zZXJ2ZXJGbi1zcGxpdCIsImV4cG9ydCI6Imxpc3RDdXN0b21lclZlaGljbGVzX2NyZWF0ZVNlcnZlckZuX2hhbmRsZXIifQ": {
      "get": {
        "tags": [
          "IPEN — reference data"
        ],
        "operationId": "listCustomerVehicles",
        "summary": "List Customer Vehicles",
        "description": "Server function `listCustomerVehicles` exported from `src/lib/ipen/common.functions.ts`.\n\nRequires a signed-in user: send the Supabase access token as `Authorization: Bearer <token>`. Row-level security applies as that user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Not signed in or missing credentials"
          },
          "403": {
            "description": "Not allowed for this user, role or agency"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
[...]
